/*
 * HIDE SPOILERS
 */

/* Blur unwatched episodes, but not partially watched */

@supports selector(:has(*)) {
	.listItemImage:not(:has(.playedIndicator),:has(.listItemProgressBar))::after {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: blur(15px);
	}

	.listItemImageButton {
		z-index: 1;
	}
}