/* recommended jellyfin rounded icons */

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* material icons reference https://fonts.google.com/icons?selected=Material+Icons */


/* VARIABLES *\

Prefix meanings:
c-   colour
e-   ease functions
f-   font
g-   gradient
hsl- raw hsl value
i-   image
o-   opacity
r-   rounding
s-   size
t-   timings
*/

:root {
	--t-quick: 120ms;
	
	--o-light: 40%;
	--o-medium: 65%;
	--o-heavy: 80%;
	--o-background: 91%;
	
	--hsl-background: 0, 0%, 3%;
	--hsl-active: 278, 45%, 57%;
	--hsl-accent: 70, 65%, 38%;
	--hsl-foreground-stark: 0, 0%, 0%;
	--hsl-foreground: 0, 0%, 12%;
	--hsl-border: 0, 0%, 12%;
	--hsl-text: 0, 0%, 84%;
	--c-background: hsl(var(--hsl-background));
	--c-active: hsl(var(--hsl-active));
	--c-accent: hsl(var(--hsl-accent));
	--c-foreground-stark: hsl(var(--hsl-foreground-stark));
	--c-foreground: hsl(var(--hsl-foreground));
	--c-text: hsl(var(--hsl-text));
	--c-border: hsl(var(--hsl-border));
	--g-background: linear-gradient(-15deg, #0006, #1c1c1c66), radial-gradient(circle at 20% -30%, hsla(150deg, 70%, 50%, 10%), hsla(270deg, 70%, 50%, 15%));
	
	--r-factor: 1;
	--r-small: calc(.3rem * var(--r-factor));
	--r-medium: calc(.6rem * var(--r-factor));
	--r-large: calc(1rem * var(--r-factor));
	--r-round: 9999px;
	
	--s-page-pad: calc(1vw + 3rem);
}
.layout-mobile {
	--s-page-pad: 3.3%;
}

html {
	font-size: 10px !important;
}

body {
	font-size: 1.5em;
}

.skinHeader, html {
	color: var(--c-text);
}


/* BASIC ELEMENTS */

/* Sizings */

.padded-left {
	padding-left: var(--s-page-pad);
}
.padded-right {
	padding-right: var(--s-page-pad);
}

/* Headers */

h2 {
	font-weight: 900;
}

/* Scrollers */

.emby-scroller {
	margin-inline: var(--s-page-pad);
}
.layout-mobile .emby-scroller {
	padding-inline: var(--s-page-pad);
}
.layout-mobile .itemDetailPage .emby-scroller {
	padding-inline: 0;
}

/* Buttons */

.emby-button {
	transition-duration: var(--t-quick);
}

.emby-tab-button:hover,
.button-flat:hover {
	color: var(--c-accent);
}

/* Card Action Buttons */

.cardOverlayButton-br {
	right: .3rem;
	bottom: .3rem;
	gap: .3rem;
}

.cardOverlayButton {
	padding: 0;
}
.paper-icon-button-light:hover:not(:disabled) {
	color: var(--c-accent);
	background-color: hsla(var(--hsl-foreground-stark), var(--o-medium));
}

/* List Items */

.listItem-border {
	border-bottom: .1rem solid var(--c-border) !important;
}
.listItem-border:not(.listItem-border + .listItem-border) {
	border-top: .1rem solid var(--c-border) !important;
}

.layout-desktop .listItemBodyText {
	margin: 0;
}


/* INPUTS */

/* Slider */

/* Create a new handle for slider */

/* .mdl-slider {
	opacity: 0;
}

.mdl-slider-background-flex {
	overflow: visible;
}

.mdl-slider-background-lower::after {
	content: "";
	position: absolute;
	top: calc(50% - 1rem);
	right: -1rem;
	width: 2rem;
	height: 2rem;
	border-radius: var(--r-round);
	background: var(--c-accent);
} */

.mdl-slider::-webkit-slider-thumb {
	background-color: var(--c-accent) !important;
}
.mdl-slider::-moz-range-thumb {
	background-color: var(--c-accent) !important;
}
.mdl-slider::-ms-thumb {
	background-color: var(--c-accent) !important;
}


/* BACKGROUND */

.backgroundContainer.withBackdrop {
	background: hsla(var(--hsl-background), var(--o-background));
}

.backdropImage {
	filter: blur(10px);
}


/* DIALOGS */

.dialog {
	border-radius: var(--r-medium);
	background: hsla(var(--hsl-foreground-stark), var(--o-heavy)) !important;
}

.actionSheet h2 {
	color: var(--c-accent);
	font-size: 1em;
	letter-spacing: .03em;
	text-transform: uppercase;
}

.actionsheetDivider {
	margin: 0;
	height: .3rem;
	background: var(--c-border);
	height: 0;
	border-bottom: .3rem dotted var(--c-border) !important;
}

.listItem:hover {
	background-color: hsla(var(--hsl-foreground), var(--o-medium));
	color: var(--c-accent);
}

/* Overlays */
.dialogBackdrop {
	transition: none !important;
}
.dialogBackdropOpened {
	opacity: .7;
}
.layout-desktop .dialog {
	animation-duration: 0.01s !important; /* cannot fully remove animation or closing dialogs breaks?..... */
}

/* Simple Dropdowns */

.actionSheet {
	border-radius: var(--r-medium) !important;;
}

.actionSheetContent {
	padding: 0 !important;
}





.backgroundContainer, .dialog, .nowPlayingPlaylist, .nowPlayingContextMenu, html, .preload {
	background: var(--c-background);
}

/* CARDS */

/* Multiple media indicator */

/* removing this indicator because I could actually not care less about it when browsing */
.mediaSourceIndicator {
	display: none;
}

/* Indicators */

.cardIndicators, .listItemIndicators {
	top: .3rem;
	right: .3rem;
}

.indicator {
	border: 0;
	border-radius: calc(var(--r-large) - .3rem) !important;
	background: hsla(var(--hsl-foreground-stark), var(--o-medium));
}

/* CARDS - LIST STYLE */

#tvRecommendedPage .itemsContainer.vertical-list {
	max-width: 70em;
	display: grid;
	grid-template-columns: 1fr 100fr 1fr 1fr;
	grid-template-areas: "image title rating buttons";
	grid-auto-flow: row;
}
	
#tvRecommendedPage .itemsContainer.vertical-list .listItem {
	display: grid;
	grid-column: 1 / span 4;
	grid-template-columns: subgrid;
	grid-row-end: span 1;
}

#tvRecommendedPage .itemsContainer.vertical-list .listItemImage {
	grid-area: image;
}

#tvRecommendedPage .itemsContainer.vertical-list .listItemBody {
	grid-area: title;
}

#tvRecommendedPage .itemsContainer.vertical-list .listItemMediaInfo {
	grid-area: rating;
}

#tvRecommendedPage .itemsContainer.vertical-list .mediaInfoOfficialRating {
	white-space: nowrap;
}

#tvRecommendedPage .itemsContainer.vertical-list .starRatingContainer {
	width: 4em;
	margin-left: auto;
}

#tvRecommendedPage .itemsContainer.vertical-list .listViewUserDataButtons {
	grid-area: buttons;
}


/* HEADER */

/* monochrome logo */
/* .pageTitleWithLogo {
	filter: grayscale(1) brightness(3);
} */
/* red logo */
.pageTitleWithDefaultLogo {
	background: var(--c-accent);
	mask: url(./assets/img/banner-light.png) left center / contain no-repeat;
}

.skinHeader {
	/* give mobile header a transition */
	transition: background .5s ease-in-out, transform .2s ease-out;
}

.skinHeader-withBackground {
	background: hsla(var(--hsl-background), var(--o-heavy));
	backdrop-filter: blur(5px);
}





/* Modify header */

.skinHeader.semiTransparent {
	backdrop-filter: blur(3px) !important;
}



/* SIDEBAR */

.mainDrawerButton,
.headerHomeButton {
	display: none;
}
		
.navMenuOption-selected:not(:hover) {
	background: none !important;
	
}
.navMenuOption:hover {
	background: hsla(var(--hsl-foreground), var(--o-medium)) !important;
	color: var(--c-accent);
}

.mainDrawer {
	background: hsla(var(--hsl-background), 80%);
	backdrop-filter: blur(5px);
}

.layout-desktop .libraryDocument:not(.hide-scroll) .skinHeader,
.layout-desktop .libraryDocument:not(.hide-scroll) .page {
	left: 50px;
}

.layout-desktop .libraryDocument:not(.hide-scroll) .mainDrawer {
	left: 0 !important;
	width: 320px !important;
	background: hsla(var(--hsl-foreground-stark), var(--o-medium));
	color: rgba(255, 255, 255, 0.8);
	clip-path: inset(0 248px 0 0);
	transform: none !important;
	translate: -22px;
	transition: translate var(--t-quick) ease-out, clip-path var(--t-quick) ease-out !important;
}
.layout-desktop .libraryDocument:not(.hide-scroll) .mainDrawer:hover {
	translate: 0;
	clip-path: inset(0 0px 0 0);
}

.layout-desktop .libraryDocument:not(.hide-scroll) .sidebarHeader {
	opacity: 0;
	transition: opacity 0.12s ease-out;
}
.layout-desktop .libraryDocument:not(.hide-scroll) .mainDrawer:hover .sidebarHeader {
	opacity: 1;
}

/* move header texts up since they have more space */
.layout-desktop .headerTabs {
	width: auto;
	margin-top: -4.3em;
	align-self: center;
}

.layout-mobile .mainDrawer {
	position: fixed;
	inset: auto 0 0 !important;
	width: auto !important;
	height: 6rem;
	padding: 0 .6rem;
	transform: translateY(6rem) !important;
	transition: transform .15s ease-out;
}
.layout-mobile:not(:has(.headroom--unpinned)) .mainDrawer {
	transform: translateY(0) !important;
}

.layout-mobile .scrollContainer {
	display: flex;
	gap: .6rem;
	overflow: hidden;
}

.layout-mobile .libraryMenuOptions {
	display: flex;
	flex-flow: row nowrap;
	max-width: calc(100% - 7.8rem);
	height: 6rem;
	gap: .6rem;
	overflow-x: scroll;
	overflow-y: hidden;
}

.layout-mobile .mainDrawerHandle,
.layout-mobile .customMenuOptions:empty,
.layout-mobile .adminMenuOptions,
.layout-mobile .userMenuOptions,
.layout-mobile .sidebarHeader,
.layout-mobile div:not([class]) {
	display: none;
}

.layout-mobile .navMenuOption {
	width: 6rem;
	height: 6rem;
	flex: 0 0 auto;
	padding: 0 !important;
	flex-direction: column;
	justify-content: center;
	border-radius: 1rem !important;
}
.layout-mobile .navMenuOptionIcon {
	margin: 0;
}
.layout-mobile .navMenuOptionText {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.2rem;
}

/* fix scrolling */
.tmla-mask {
	display: none;
}

.bodyWithPopupOpen:has(.drawer-open) {
	overflow-y: scroll !important;
}



/* Library browsing */

/* remove trailers & upcoming */
.libraryDocument .emby-tab-button[data-index="2"] {
	display: none;
}

/* Better Filters */

.layout-desktop .dynamicFilterDialog {
	--width: clamp(20em, 80vw, 1200px);
	top: 5vh !important;
	left: calc(50% - var(--width)*.5) !important;
	width: var(--width);
	height: 85vh;
	margin: 0 !important;
}

.layout-desktop .filterDialogContent #expandButton {
	pointer-events: none;
}
.layout-desktop .filterDialogContent #expandButton .emby-collapse-expandIcon {
	display: none;
}

.layout-desktop .filterDialogContent .collapseContent {
	display: block !important;
	height: auto !important;
}

.layout-desktop .filterDialogContent .checkboxList {
	display: flex;
	flex-flow: row wrap;
	gap: 0 10px;
}
.layout-desktop .filterDialogContent .checkboxList .emby-checkbox-label {
	width: auto;
	height: auto;
	padding: 0;
	font-size: 1rem;	
}
.layout-desktop .filterDialogContent .checkboxList .emby-checkbox-label .checkboxOutline {
	position: static;
	width: 1.35em;
	height: 1.35em;
	order: -1;
	margin-right: .5em;
}

/* blur cards on hover
.card:hover .cardImageContainer {
	filter: blur(1px);
}*/

/* increase darkening */
.cardOverlayContainer {
	background: rgba(0,0,0,0.7);
}



/* buttons */
.playstatebutton-icon-played {
	color: green;
}



/* CARDS */

.visualCardBox,
.cardScalable {
	border-radius: var(--r-large);
	overflow: hidden;
}

.visualCardBox .cardScalable {
	border-radius: var(--r-large) var(--r-large) 0 0;
}

/* Progress Bars */

.innerCardFooter {
	overflow: visible;
}

.itemProgressBar {
	position: absolute;
	left: .5rem;
	right: .5rem;
	bottom: .3rem;
	height: .4rem;
	background: #0008;
	border-radius: 99em;
	padding: .2rem;
	backdrop-filter: blur(1px);
}

.itemProgressBarForeground {
	position: static;
	height: 100%;
	border-radius: 99em;
	background: var(--c-accent);
}


/* Fancy play animation */

.paper-icon-button-light[data-action="resume"]:hover:not(:disabled) {
	background: hsla(var(--hsl-foreground-stark), var(--o-medium));
	color: var(--c-accent);
	text-shadow: 1px 1px 5px hsla(var(--hsl-accent), var(--o-medium));
}

.paper-icon-button-light[data-action="resume"]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 3px 0 var(--c-accent), inset 0 1px 3px var(--c-accent);
	border-radius: 100%;
	opacity: 0;
}
.paper-icon-button-light[data-action="resume"]:hover:not(:disabled)::before {
	animation:
		8s linear .6s infinite rotate-repeat,
		.6s cubic-bezier(0.25, 0.1, 0, 1) 0s backwards rotate-in;
	opacity: 1;
}
@keyframes rotate-in {
	from {
		transform: rotate(-220deg);
		opacity: 0;
	} to {
		transform: rotate(45deg);
		opacity: 1;
	}
}
@keyframes rotate-repeat {
	from {
		transform: rotate(45deg);
	} to {
		transform: rotate(405deg);
	}
}



/* Hide collection year */
.card[data-path*="/data/collections/"] .cardText-secondary {
	display: none;
}

/* Hide collection count */
.card[data-path*="/data/collections/"] .indicator {
	display: none;
}



/* Increase collection poster size */

@media (max-width:31.25em) or (min-width:31.25em) {
	.collectionItems .portraitCard {
		width: 50%;
	}
}
@media (min-width:43.75em) {
	.collectionItems .portraitCard {
		width: 33.333333333333336%;
	}
}
@media (min-width:50em) {
	.collectionItems .portraitCard {
		width: 25%;
	}
}
@media (min-width:75em) {
	.collectionItems .portraitCard {
		width: 20%;
	}
}
@media (min-width:87.5em) {
	.collectionItems .portraitCard {
		width: 16.666666666666668%;
	}
}
@media (min-width:100em) {
	.collectionItems .portraitCard {
		width: 14.285714285714286%;
	}
}
@media (min-width:120em) {
	.portraitCard {
		width: 12.5%;
	}
}
@media (min-width:131.25em) {
	.collectionItems .portraitCard {
		width: 11.11111111111111%;
	}
}



/* Letter Picker Improvements */

.alphaPickerButton {
	border-radius: 50%;
	transition: background 0.1s ease-out;
}
.alphaPickerButton:hover,
.alphaPickerButton-selected {
	background: rgba(127, 127, 127, 0.25);
}


/* Login form */

.visualLoginForm > h1,
.btnForgotPassword {
	display: none !important;
}

#loginPage .cardPadder {
	background: none !important;
}

#loginPage .defaultCardBackground {
	background: rgba(0,0,0,0.4);
}

#loginPage > div {
	position: relative;
	padding-top: 2.5em;
	padding-bottom: 0 !important;
}

.btnManual {
	width: auto !important;
	margin: 0 auto !important;
}

#loginPage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(170deg, #b32424 100px, #500152, #340034, #27001f);
	opacity: 0.25;
}

.manualLoginForm {
	max-width: 300px;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 15px;
}

/* temporary measure - explain how to sign in over LAN */
/*.manualLoginForm .inputContainer + .inputContainer::after {
	content: "\e88e  use your birth year while on the local network";
	display: block;
	margin-top: .25em;
	font-family: "Noto Sans", "Material Icons";
	opacity: 0.65;
	animation: 4.5s cubic-bezier(.26,.1,.34,1.15) 3s infinite attention;
}
@keyframes attention {
	0%, 87.5%, 76.75%, 96%, 99%, 100% {
		transform: translateX(0px);
	}
	90% {
		transform: translateX(5px);
	}
	94.75% {
		transform: translateX(3px);
	}
	97.75% {
		transform: translateX(1.5px);
	}
}*/



/* [id$="Collapsible"] .listItem {
	position: relative;
	float: left;
	background: #333333;
	background: #202020;
	padding: 0;
	border-radius: 10px;
	margin: 0 0 .6em .6em;
}
[id$="Collapsible"] .listItemIcon {
	display: none;
}
[id$="Collapsible"] .listItemBody {
	padding: .4em .6em;
}
[id$="Collapsible"] .listItemBody + button {
	position: absolute;
	right: 0;
	opacity: 0;
	z-index: 1;
}

[id$="Collapsible"] .listItem:hover .listItemBody + button {
	opacity: 1;
} */