/*
DIALOG
media metadata
*/

@supports selector(html:has(body)) {
	/* TEMP */

	.layout-desktop #fldDateAdded .fieldDescription,
	.layout-desktop .seriesDisplayOrderDescription {
		display: none;
	}

	/* Base */

	html:has(body) .dialog:has(.editItemMetadataForm) {
		width: max-content;
		height: calc(100% - 2rem);
	}

	/* Header & Footer */

	html:has(body) .formDialogHeader,
	html:has(body) .formDialogFooter {
		padding: 0 1rem;
	}

	.layout-desktop .dialog:has(.editItemMetadataForm) .formDialogFooter {
		position: absolute;
		inset: 0 0 auto auto;
		flex-wrap: nowrap;
		gap: 1rem;
		flex-direction: row-reverse;
	}

	.layout-desktop .dialog:has(.editItemMetadataForm) .formDialogFooterItem {
		flex-basis: max-content;
		margin: 0 !important;
	}

	.layout-desktop .editItemMetadataForm {
		width: clamp(600px, 80vw, 800px);
		max-width: initial;
	}

	/* Lock Item Checks */

	@media (width > 1400px) {
		.layout-desktop .editItemMetadataForm {
			padding-right: 300px;
		}
		
		.layout-desktop .checkboxContainer:has(#chkLockData) {
			position: absolute;
			top: 7rem;
			left: calc(50% + 250px + 3rem);
			width: calc(300px - 3rem);
		}
		.layout-desktop .checkboxContainer:has(#chkLockData) + .checkboxList {
			position: absolute;
			top: 11rem;
			left: calc(50% + 250px + 3rem);
			width: calc(300px - 3rem);
		}
		.layout-desktop .checkboxContainer:has(#chkLockData) + .checkboxList.hide {
			display: block !important;
			pointer-events: none;
			opacity: .2;
			filter: grayscale(1);
		}
	}

	/* Fields */

	.layout-desktop .metadataFormFields {
		font-size: 13px;
		line-height: 1.25;
	}

	.layout-desktop .metadataFormFields:has(#fldTagline.hide) {
		--tv-column: "date-added air-time runtime null" "air-days air-days air-days air-days"
	}
	.layout-desktop .metadataFormFields:has(#fldTagline:not(.hide)) {
		--movie-column: "tagline tagline tagline tagline";
	}

	.layout-desktop .metadataFormFields > div:first-of-type {
		display: grid;
		grid-template-columns: repeat(4, calc(25% - .6rem));
		grid-template-areas:
			"header header header header"
			"title title og-title sort-title"
			var(--movie-column,)
			"desc desc desc desc"
			"date-start date-end year status"
			var(--tv-column,)
			"rating-official rating-custom score after-ratings"
		;
		gap: .6rem;
	}

	.layout-desktop .externalIds {
		display: grid;
		grid-template-columns: repeat(3, calc(33.3334% - .6rem));
		gap: .6rem;
	}

	.layout-desktop .metadataFormFields .inlineForm {
		display: contents;
	}
	.layout-desktop .metadataFormFields .inlineForm .inputContainer,
	.layout-desktop .metadataFormFields .inlineForm .selectContainer {
		margin: 0;
	}

	/* Path */

	.layout-desktop #fldPath {
		grid-area: header
	}
	.layout-desktop #fldPath label {
		display: none;
	}
	.layout-desktop #fldPath input {
		background: none;
		border: none;
		padding: 0;
		opacity: 0.5;
	}

	/* Titles */

	.layout-desktop .inputContainer:has(#txtName) {
		grid-area: title
	}
	.layout-desktop #fldOriginalName {
		grid-area: og-title
	}
	.layout-desktop .inputContainer:has(#txtSortName) {
		grid-area: sort-title
	}

	/* Tagline */

	.layout-desktop #fldTagline {
		grid-area: tagline
	}

	/* Dates */

	.layout-desktop #fldPremiereDate {
		grid-area: date-start
	}
	.layout-desktop #fldEndDate {
		grid-area: date-end
	}
	.layout-desktop #fldYear {
		grid-area: year
	}
	.layout-desktop #fldPlaceOfBirth,
	.layout-desktop #fldStatus {
		grid-area: status
	}

	.layout-desktop #fldDateAdded {
		grid-area: date-added
	}
	.layout-desktop .metadataFormFields:has(#fldEndDate.hide) #fldDateAdded {
		grid-area: date-end;
		grid-row: date-end / span 2;
	}
	.layout-desktop #fldAirTime {
		grid-area: air-time
	}
	.layout-desktop #fldAirDays {
		grid-area: air-days
	}
	.layout-desktop #fldAirDays p {
		margin: 0;
	}
	.layout-desktop #fldAirDays .checkboxList {
		display: flex;
		width: fit-content;
		gap: 1rem;
	}

	/* Ratings */

	.layout-desktop #fldOfficialRating {
		grid-area: rating-official
	}
	.layout-desktop #fldCustomRating {
		grid-area: rating-custom
	}
	.layout-desktop #fldCommunityRating {
		grid-area: score
	}
	.layout-desktop #fldCriticRating,
	.layout-desktop #fldDisplayOrder {
		grid-area: after-ratings
	}

	/* Misc */

	.layout-desktop #fld3dFormat,
	.layout-desktop #fldOriginalAspectRatio {
		grid-row: -1;
	}


	/* Description/overview */

	.layout-desktop .overviewContainer {
		grid-area: desc;
	}
	.layout-desktop #txtOverview {
		resize: vertical;
	}
}