/*
LOGIN PAGE
/login.html
/forgotpassword.html
*/

/* Containers */

#loginPage,
#forgotPasswordPage {
	display: grid;
	place-items: center;
	padding: 5rem !important;
	overflow: auto;
}

#loginPage h1 {
	display: none !important;
}
#loginPage h1,
#forgotPasswordPage h1 {
	margin-top: 0;
}

#loginPage .cardPadder {
	background: none !important;
}

#loginPage .defaultCardBackground {
	background: hsla(var(--hsl-foreground), var(--o-medium));
}

#loginPage > div,
#forgotPasswordPage > div {
	position: relative;
	min-width: 26rem;
	max-width: 40rem;
	background: var(--c-foreground-stark);
	border-radius: var(--r-large);
	padding: 2rem !important;
	margin: 0 auto;
}

#loginPage .manualLoginForm {
	max-width: initial;
}

/* Background */

#loginPage::before,
#forgotPasswordPage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(170deg, #b32424 100px, #500152, #340034, #27001f);
	opacity: 0.25;
}

/* User Icons */

#loginPage #divUsers {
	gap: 2rem;
	justify-content: left;
}

#loginPage .card {
	width: 12rem;
}
#loginPage .cardBox {
	margin: 0 !important;
}

/* Buttons */

#loginPage .readOnlyContent {
	margin: 0 !important;
}

#loginPage .raised,
#forgotPasswordPage .raised {
	margin: 1rem 0 0 !important;
}
#loginPage .raised:not(.button-submit),
#forgotPasswordPage .raised {
	background: hsla(var(--hsl-foreground), var(--o-medium));
}

/* Disclaimer */

#loginPage .loginDisclaimerContainer {
	margin: 0;
	order: -1;
}
#loginPage .loginDisclaimer p {
	margin: 2rem 0 1rem;
}

/* hide the header by use of the hideMainDrawer class as I have only seen it used on the login page.
This should be changed if found elsewhere. */
body.hideMainDrawer .skinHeader {
	display: none !important;
}

/* Add the logo back using a pseudo element - this is done so that it can align with the form */
#loginPage > div::before,
#forgotPasswordPage > div::before {
	content: "";
	position: absolute;
	top: -2.3rem;
	left: 2rem;
	background: var(--c-accent);
	-webkit-mask: url(./assets/img/banner-light.png) left center / contain no-repeat;
	mask: url(./assets/img/banner-light.png) left center / contain no-repeat;
	width: 24rem;
	height: 3rem;
}