/*
LOGIN PAGE
/login.html
*/

/* Login form */

.visualLoginForm > h1,
.btnForgotPassword {
	display: none !important;
}

#loginPage .cardPadder {
	background: none !important;
}

#loginPage .defaultCardBackground {
	background: rgba(0,0,0,0.4);
}

#loginPage > div {
	position: relative;
	padding-top: 2.5em;
	padding-bottom: 0 !important;
}

.btnManual {
	width: auto !important;
	margin: 0 auto !important;
}

#loginPage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(170deg, #b32424 100px, #500152, #340034, #27001f);
	opacity: 0.25;
}

.manualLoginForm {
	max-width: 300px;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 15px;
}

/* temporary measure - explain how to sign in over LAN */
/*.manualLoginForm .inputContainer + .inputContainer::after {
	content: "\e88e  use your birth year while on the local network";
	display: block;
	margin-top: .25em;
	font-family: "Noto Sans", "Material Icons";
	opacity: 0.65;
	animation: 4.5s cubic-bezier(.26,.1,.34,1.15) 3s infinite attention;
}
@keyframes attention {
	0%, 87.5%, 76.75%, 96%, 99%, 100% {
		transform: translateX(0px);
	}
	90% {
		transform: translateX(5px);
	}
	94.75% {
		transform: translateX(3px);
	}
	97.75% {
		transform: translateX(1.5px);
	}
}*/