/*
LOGIN PAGE
/login.html
*/

/* Containers */

#loginPage {
	display: grid;
	place-items: center;
	padding: 5rem !important;
	overflow: auto;
}

#loginPage h1 {
	display: none !important;
}

#loginPage > div {
	position: relative;
	width: 28rem;
	background: var(--c-foreground-stark);
	border-radius: var(--r-large);
	padding: 2rem !important;
	margin: 0 auto;
}

#loginPage .manualLoginForm {
	max-width: initial;
}

/* Background */

#loginPage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(170deg, #b32424 100px, #500152, #340034, #27001f);
	opacity: 0.25;
}

/* Convert User Icons into a simple button list */

#loginPage #divUsers {
	flex-direction: column;
}

#loginPage .card {
	width: auto;
	margin-bottom: 1rem;
}

#loginPage .cardBox {
	display: flex;
	background: hsla(var(--hsl-foreground), var(--o-medium));
	border-radius: calc(var(--r-small) + .5rem);
	align-items: center;
	padding: .5rem !important;
	margin: 0 !important;
	transition: background-color var(--t-quick) ease;
}
#loginPage .card:hover .cardBox {
	background: var(--c-foreground);
}

#loginPage .cardScalable {
	width: 4rem;
}

#loginPage .cardPadder {
	background: var(--c-foreground) !important;
	padding-bottom: 4rem;
}

#loginPage .cardScalable,
#loginPage .cardContent,
#loginPage .cardImageContainer {
	border-radius: var(--r-small);
}

#loginPage .cardImageIcon {
	font-size: 4rem;
}

#loginPage .cardFooter {
	padding: 0 0 0 .5rem;
	font-weight: bold;
	transition: color var(--t-quick) ease;
}
#loginPage .card:hover .cardFooter {
	color: var(--c-accent);
}


/* Buttons */

#loginPage .readOnlyContent {
	margin: 0 !important;
}

#loginPage .raised {
	margin: 1rem 0 0 !important;
}
#loginPage :not(.readOnlyContent) > .raised:not(.button-submit) {
	background: hsla(var(--hsl-foreground), var(--o-medium));
}
#loginPage .readOnlyContent .raised {
	padding: 0.2rem 0.5rem;
	/* font-size: var(--s-text-small); */
}
#loginpage .visualLoginForm:not(.hide) ~ .readOnlyContent .raised {
	width: fit-content;
	text-align: left;
}
#loginPage .readOnlyContent .raised:hover {
	color: var(--c-accent);
}

/* Disclaimer */

#loginPage .loginDisclaimerContainer {
	margin: 0;
	order: -1;
}
#loginPage .loginDisclaimer p {
	margin: 2rem 0 1rem;
}

/* hide the header by use of the hideMainDrawer class as I have only seen it used on the login page.
This should be changed if found elsewhere. */
body.hideMainDrawer .skinHeader {
	display: none !important;
}

/* Add the logo back using a pseudo element - this is done so that it can align with the form */
#loginPage > div::before {
	content: "";
	position: absolute;
	top: -2.3rem;
	left: 2rem;
	background: var(--c-accent);
	-webkit-mask: url(./assets/img/banner-light.png) left center / contain no-repeat;
	mask: url(./assets/img/banner-light.png) left center / contain no-repeat;
	width: 24rem;
	height: 3rem;
}