/*
MEDIA ITEM
/details
*/

:root {
	--s-banner: max(calc(65px + 25rem + 10vh), 50vh);
	--s-card: clamp(200px, 24vw, 500px);
	--s-card-pad: var(--s-page-pad);
	--s-card-allowance: calc(var(--s-card) + var(--s-card-pad) * 2);
}
.layout-mobile {
	--s-banner: max(200px, 25vh);
}

.detailPageWrapperContainer {
	position: relative;
	top: 0 !important;;
}
.layout-desktop .detailPageWrapperContainer::before {
	content: "";
	position: absolute;
	inset: auto 0 100%;
	height: calc(var(--s-banner) * 0.3);
	background: linear-gradient(0deg, var(--c-foreground-stark), transparent);
	opacity: .6;
}

.detailPagePrimaryContent {
	padding-right: var(--s-page-pad);
	/* give details a maximum width for readability */
	max-width: 90ch;
}

/* BACKGROUND IMAGE */

.itemBackdrop {
	position: static;
	top: 0;
	width: 100%;
	height: var(--s-banner);
	background-attachment: scroll;
	background-position: center 20%;
}
.itemBackdrop:not([style]) {
	--s-banner: 17rem;
}

.layout-desktop .itemBackdrop::after {
	content: none;
}

/* DETAILS */

/* Re-arrange details */

.itemDetailsGroup,
.detailSectionContent {
	display: contents;
}

.detailSection {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.itemGenres:empty {
	display: none;
}

.tagline ~ .overview {
	margin-top: 0;
}

.itemExternalLinks {
	order: 99;
}

.detailRibbon {
	background: var(--c-foreground-stark);
	margin-top: 0 !important;
}


.layout-desktop .detailPagePrimaryContainer,
.layout-desktop .detailPageContent {
	padding-left: var(--s-card-allowance);
}

.layout-desktop .detailPagePrimaryContainer {
	position: static;
}

.layout-desktop .detailImageContainer {
	position: absolute;
	top: -9rem;
	left: var(--s-card-pad);
	bottom: 0;
	padding: 0;
}

.layout-desktop .detailImageContainer .card {
	position: sticky !important;
	top: 10rem;
	left: 0 !important;
	width: var(--s-card);
	max-width: initial;
	transform: none;
}

/* HEADER */

.layout-desktop .detailLogo {
	z-index: 1;
	left: var(--s-card-allowance);
	width: calc(100% - var(--s-card-allowance) - var(--s-page-pad) - 2rem);
	top: calc(var(--s-banner) - 9rem);
	height: 7rem;
	background-position-x: 33%;
}

/* HEADER BUTTONS */

/* button text */
.detailButton {
	flex-flow: row;
	gap: .6rem;
}
.detailButton::after {
	content: var(--txt, none);
	position: absolute;
	top: calc(100% - .6rem);
	left: 50%;
	text-transform: uppercase;
	transform: translateX(-50%) scale(0);
	transform-origin: center top;
	transition: transform .2s ease;
}
.detailButton:hover::after {
	transform: translateX(-50%) scale(1);
}
.btnPlay::after {
	position: static !important;
	transform: none !important;
}
.btnPlay {
	--txt: "Play";
}
.btnPlayTrailer {
	--txt: "Trailer";
}
.btnDownload {
	--txt: "Download";
}
.btnShuffle {
	--txt: "Shuffle";
}
.btnPlaystate {
	--txt: "Done";
}
.btnUserRating {
	--txt: "Love";
}
.btnMoreCommands {
	--txt: "More";
}

/* NEXT UP */
/* assumes that there is only one more "next up" item because when would there ever be multiple?.... */

.layout-desktop .nextUpSection {
	position: absolute;
	top: -25rem;
	right: 0;
	z-index: 1;
}
@media (width > 1600px) {
	.layout-desktop .nextUpSection {
		top: 11rem;
	}
}
.layout-desktop .nextUpSection .card {
	width: 26rem;
}

.detailPageSecondaryContainer {
	padding: 1.25em 0;
	margin: 0;
}

/* TAGS */

/* styles tags the same as genres/writers using some hacky overflow and ::before tricks */
.itemTags {
	margin: 0 0 .6em 6.85em !important;
	font-size: 100% !important;
	text-indent: -4.5ch; /* VERY INNACURATELY hides the "Tags: " text from the start. */
	overflow: hidden;
}
.layout-mobile .itemTags {
	margin-left: 5.1em !important;
}

.itemTags::before {
	content: "Tags";
	position: absolute;
	left: 0;
	width: 6.25em;
	text-indent: 0;
}

/* EXTERNAL LINKS */

.itemExternalLinks {
	display: flex;
	gap: .3rem;
	font-size: 0 !important;
	flex-wrap: wrap;
}

.itemExternalLinks a {
	display: flex;
	background: var(--c-foreground);
	font-size: 1.4rem;
	padding: .3rem;
	border-radius: .3rem;
	gap: .6rem;
	line-height: 1.3;
}

.itemExternalLinks a::before {
	width: 1em;
	height: 1em;
	border-radius: .2rem;
	background-size: contain;
}
.itemExternalLinks a[href^="https://anilist.co"]::before {
	content: "";
	background-image: url(https://anilist.co/img/icons/favicon-32x32.png);
}
.itemExternalLinks a[href^="https://www.imdb.com"]::before {
	content: "";
	background-image: url(https://m.media-amazon.com/images/G/01/imdb/images-ANDW73HA/favicon_desktop_32x32._CB1582158068_.png);
}
.itemExternalLinks a[href^="https://www.themoviedb.org"]::before {
	content: "";
	background-image: url(https://www.themoviedb.org/assets/2/favicon-32x32-543a21832c8931d3494a68881f6afcafc58e96c5d324345377f3197a37b367b5.png);
}
.itemExternalLinks a[href^="https://trakt.tv"]::before {
	content: "";
	background-image: url(https://walter.trakt.tv/hotlink-ok/public/apple-touch-icon.png);
}
.itemExternalLinks a[href^="http://www.tvmaze.com"]::before {
	content: "";
	background-image: url(https://static.tvmaze.com/images/favico/favicon-32x32.png);
}
.itemExternalLinks a[href^="https://www.thetvdb.com"]::before {
	content: "";
	background-image: url(https://www.thetvdb.com/images/icon.png);
}


/* recommended/suggestions section - AKA "more like this" carousel - only affects mouse input because it would be hell on mobile */

@media (pointer: fine) {
	#similarCollapsible .card + .card {
		margin-left: -4em;
		transition: translate 0.1s ease-out;
	}
	#similarCollapsible .card:hover ~ .card {
		translate: 3.5em 0;
	}
	
	#similarCollapsible .card + .card .cardScalable {
		box-shadow: -1.5rem 0 1rem -1rem #000b;
	}
	#similarCollapsible .card:not(:hover):not(:last-of-type) .cardText {
		mask-image: linear-gradient(to left, transparent 1vw, rgba(0,0,0,0.1) 3vw, black 7vw);
	}
	
	#similarCollapsible .cardIndicators {
		right: auto;
		left: .3rem;
	}
}
@media not (pointer: fine) {
	#similarCollapsible .itemsContainer {
		display: grid;
		grid-template-columns: repeat(3, 31.2vw);
	}
}

/* SEASON PAGES */


/* Episode pages & "more from" section on library pages */
.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .itemsContainer {
	flex-flow: row wrap;
	padding-right: 0;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItem {
	position: relative;
	width: 30rem;
	overflow: visible;
	contain: initial;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItem-content {
	flex-flow: column nowrap;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItemImage {
	width: 100%;
	height: calc(30rem * 9/16);
	border-radius: 1rem;
	margin: 0;
	overflow: hidden;
}

.layout-desktop  .listItemBody {
	width: 100%;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItemImage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity .2s ease;
}
.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItem:hover .listItemImage::before {
	opacity: 1;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItemBody {
	padding: .25em .5em .85em;
	order: 1;
	overflow: visible;
	contain: initial;
}

.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listViewUserDataButtons {
	height: 3em;
	margin-top: -3em;
	opacity: 0;
	transition: opacity .2s ease;
}
.layout-desktop  #childrenCollapsible.verticalSection-extrabottompadding .listItem:hover .listViewUserDataButtons {
	opacity: 1;
}
	
/* descriptions */

.layout-desktop  .listItem-overview {
	position: absolute;
	bottom: 100%;
	z-index: 5;
	background: var(--c-foreground);
	padding: .6em;
	border-radius: .6em;
	pointer-events: none;
	opacity: 0;
}
.layout-desktop  .listItem:hover .listItem-overview {
	opacity: 1;
}

/* Blur unwatched episodes, but not partially watched */

.listItemImage:not(:has(.playedIndicator),:has(.listItemProgressBar))::after {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: blur(15px);
}

.listItemImageButton {
	z-index: 1;
}