/*
PLAYER
/video
*/


/* temp */

/* .videoOsdBottom, */
/* .osdHeader-hidden
{
	display: block !important;
	opacity: 1;
} */

/* Controls */

/* .osdControls {
	display: flex;
	flex-direction: column-reverse;
} */



/* Progress Bar */

.mdl-slider-background-flex {
	background: hsla(var(--hsl-foreground-stark), var(--o-medium));
	padding: .2rem;
	height: .3rem;
	backdrop-filter: blur(1px);
	transform: translateY(-50%);
	margin: 0;
}

.mdl-slider-background-flex,
.mdl-slider-background-lower,
.mdl-slider-background-upper {
	border-radius: 99em;
}

.mdl-slider-background-lower {
	background: var(--c-accent);
}

.mdl-slider-background-upper {
	background: #fff4;
}

/* Handle */

.mdl-slider {
	padding-top: .1rem;
}

/* Time Slider */

.sliderBubble {
	background: var(--g-background);
	backdrop-filter: blur(5px);
	border-radius: 1rem;
}

.sliderBubbleText {
	padding: 1rem;
}

/* Next Up */

.upNextContainer {
	border-radius: var(--r-large);
}

.upNextDialog-countdownText {
	color: var(--c-accent);
	font-weight: inherit;
}

.upNextDialog-button {
	background: none;
	padding: .2em .5em;
	text-transform: uppercase;
	color: var(--c-accent);
}
.upNextDialog-button:hover {
	background: hsla(var(--hsl-foreground-stark), var(--o-heavy));
}
.upNextDialog-button::before,
.upNextDialog-button::after {
	margin-right: .3rem;
	font-family: var(--f-icon);
	font-size: 2em;
	line-height: inherit;
}

.upNextDialog-button.btnStartNow::before {
	content: "\e044 ";
}

.upNextDialog-button.btnHide::before {
	content: "\e5cd ";
}