/*
PROFILE
/mypreferencesmenu.html
*/

#myPreferencesMenuPage .listItem-border {
	border: none !important;
}

#myPreferencesMenuPage h2 {
	color: var(--c-accent);
	margin: 2rem 0;
}

#myPreferencesMenuPage .listItem {
	padding: 1.5rem 2rem;
	border-radius: var(--r-large);
	transition-property: background-color, color;
	transition-duration: var(--t-quick);
}

#myPreferencesMenuPage .listItemBody {
	padding-top: 0;
	padding-bottom: 0;
}

/* smaller buttons - only works on newer browsers, disabled for now */
/* .layout-desktop #userProfilePage form div:not([class]):has(div>.emby-button) {
	display: flex;
	gap: 1rem;
}

.layout-desktop .userPreferencesPage .button-submit {
	width: fit-content;
} */

.subtitleappearance-preview {
	border-radius: var(--r-round);
	background:
		linear-gradient(-15deg, #0002, #1c1c1c44),
		radial-gradient(circle at 20% -30%, hsla(70deg, 65%, 65%, 70%), hsla(230deg, 50%, 50%, 65%) 60%, hsla(200deg, 70%, 50%, 45%))
		!important;
}